.btn-search {
  height: 40px;
  width: 150px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: greenyellow;
}

#responseText {
  height: 40px;
  width: 300px;
  font-size: 25px;
  position: absolute;
  left: 39%;
  color: greenyellow;
  font-weight: bold;
}
